*{
			font-family: 'Manrope', sans-serif;
		}

		body{
			background: #ED213A; 
			background: -webkit-linear-gradient(to right, #93291E, #ED213A); 
			background: linear-gradient(to right, #93291E, #ED213A); 


		}
		table{
			max-width: 400px;
			margin:auto;
			position: relative;
			top:100px;
			background: #CACFD2;
			width:100%;
			height: 480px;
			border-radius: 8px;
		}
		input{
			top: 5px;
			background: white;
			position: relative;
			border:solid #CACFD2;
			border-radius:7px;
			width: 82%;
			height: 85%;
			margin-bottom:2px;
			padding: 8px;
			
			font-size: 18px;
			transition: border-color 0.5s;
			text-align: center;transition: background 0.4s;outline: 0 none; 

		}
		input:hover{
			
			background: #8E2DE2;  
			background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2); 
			background: linear-gradient(to right, #4A00E0, #8E2DE2);

			color:white;
		}
		input:hover::placeholder{
			color:white;
		}
		input[type=text]:focus{
			
			
			background: #8E2DE2;  
			background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2); 
			background: linear-gradient(to right, #4A00E0, #8E2DE2);
			
			
		}
		input[type=text]:focus::placeholder{
			
		}
		input[type=submit]{
			
			width:35%;
			background: #8E2DE2;  
			background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2); 
			background: linear-gradient(to right, #4A00E0, #8E2DE2); 
			cursor: pointer;


			color:white;
			border:#F2F3F4 solid 1px;
		}
		input[type=submit]:hover{
			background: white ;
			color:#4100f7;border:#4100f7 solid 1px;
		}
		td p{
			align-content: center;
			align-items: center;
			text-align: center;	
			color: white;
			font-family: 'Manrope', sans-serif;
		}
		
		select{
			border:none;
			position: relative;
			text-align-last: center;
			border-radius: 3px;
			width: 86%;
			height: 100%;
			margin:10px 0px;
		}
		option{
			text-align: center;
		}
		.ganador{
			max-width: 400px;
			height: 40%;
			padding:10px;
			margin-bottom:10px;
			background: #8E2DE2;  
			background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2); 
			background: linear-gradient(to right, #4A00E0, #8E2DE2); 


		}
		.ganador input:hover{
			background: white;
			color:black;
		}
		.ganador p{
			font-size: 30px;
			margin:-4px;
		}